* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  height: 100vh;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 헤더 */
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  position: relative;

  width: 100%;
  height: 20px;

  padding: 10px 20px;
}

#header:hover {
  cursor: pointer;
}

header h1 {
  text-align: center;
  position: absolute;

  padding-top: 30px;
  font-size: 25px;
  font-weight: 250;
  color: #333;
}

.header-line {
  width: 100%;
  border: none;
  left: 0%;
  border-bottom: 1px solid black;
  /* color: #ddd; */
  margin: 30px 0;
}

.back-button, .header-profile-image {
  background: none;
  border: none;
  cursor: pointer;
}

.back-button {
  display: flex;

  font-size: 18px;
  font-weight: 250;

  max-width: 30px;
  max-height: 30px;

  position: absolute;
  left: 50%;
  transform: translateX(-240px);
  top: 15px;
}

.header-profile-image {
  display: flex;

  width: 30px;
  height: 30px;
  border-radius: 50%;

  position: absolute;
  left: 50%; /* 부모 요소의 가로축 중간 */
  transform: translateX(220px); /* 중간 지점에서 오른쪽으로 250px 이동 */

  margin-top: 30px;
  /* margin-top: 15px; */
  overflow: hidden;
}

.profile-button {
  background: none;
  border: none;
  padding: 0;
  position: absolute;
  right: 25px;
  cursor: pointer;
  width: 50px; /* 원하는 크기로 조정 */
  height: 50px; /* 원하는 크기로 조정 */
  border-radius: 50%; /* 원형 */
  overflow: hidden;
  cursor: pointer;
}

/* 드롭다운 메뉴 */
/* .profile-wrapper {
  background-color: pink;
  position: relative;
  display: inline-block;
} */

.dropdown-container {
  display: relative;
}

.dropdown {
  position: absolute;
  left: 50%; /* 부모 요소의 가로축 중간 */
  transform: translateX(230px); /* 중간 지점에서 오른쪽으로 250px 이동 */
  top: 100%;
  display: none;

  width: 100px;
  right: 0;
  margin-top: 15px;

  background-color: #ddd;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.dropdown li {
  list-style: none; /* 불릿 제거 */
  padding: 10px;
  font-size: 14px;
  color: #333;
  cursor: pointer; /* 버튼과 같은 클릭 가능 표시 */
  text-align: left; /* 텍스트 정렬 */
}

.dropdown.open {
  display:block;
}

.dropdown li:hover {
  background-color: #e9e9e9;
}

/* 버튼 */
button {
  cursor: pointer;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 600
}

.login-button, .submit-button {
  width: 100%;
  padding: 10px;
  color: white;
  background-color: #7F6AEE;
  border: none;
}

/* .login-button:hover, .signup-button:hover {
  background-color: #6666ff;
} */

.login-button:disabled, submit-button:disabled {
  background-color: #ACA0EB;
}

.complete-button {
  display: block;
  margin: 0 auto;

  margin-top: 10%;
  padding: 10px;
  color: white;
  background-color: #8888ff;
  border: none;
  border-radius: 2em;
}

a {
  text-decoration: none; /* 밑줄 제거 */
  color: inherit; /* 부모 요소의 텍스트 색상 상속 */
}

.link, #registerBtn {
  display: inline-block;
  background: none;
  border: none;

  padding: 10px;
  font-size: 10px;

  cursor: pointer;
  color: #333;
}

/* 인풋 + 폼 */
.form-container {
  text-align: center;
  width: 300px;
  font-size: 12px;
}

.form-title {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  font-size: 12px;
  color: #333;
  display: block;
  margin-bottom: 5px;
}

.form-group input, .form-group textarea {
  width: 100%;
  padding: 8px;
  font-size: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

textarea {
  resize: vertical;
}

.helper-text {
  font-size: 10px;
  color: red;
  margin-top: 5px;
  text-align: left;
  display: none; /* 기본적으로 숨김 */
}

input:focus + .helper-text,
textarea:focus + .helper-text {
  display: block; /* 입력 중일 때 표시 */
  color: red;
}

/* 모달창 */
/* #modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 101;
  display: none;
} */

/* 모달창 */
.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* 50% 불투명 */
  z-index: 100;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
}

.modal {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  text-align: center;
  width: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 모달 그림자 */
}

#modal-message {
  font-size: 14px;
  color: #333;
  margin-bottom: 10px;
  font-weight: 600;
}

.modal-note {
  font-size: 10px;
  color: #888;
  margin-bottom: 20px;
}

.modal-buttons {
  display: flex;
  width: 100%;
  gap: 10px;
  justify-content: center;
}

.modal-cancel-button, .modal-confirm-button {
  padding: 10px 20px;
  font-size: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
}

.modal-cancel-button {
  background-color: #333;
  color: #fff;
}

.modal-confirm-button {
  background-color: #8888ff;
  color: #fff;
}

label {
  font-size: 12px;
  font-weight: 350;
}


/* 토스트 메세지 */
.toast-message {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #323232;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  font-size: 14px;
  z-index: 1000;
  opacity: 0;
  animation: fadeInOut 2s ease forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}