.post-detail {
  display: flex;
  flex-direction: column;
  width: 500px;

  align-items: center;
  justify-content: center;
  row-gap: 20px;

  /* padding: 20px; */
  /* margin-bottom: 30px; */
}


.post-header {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.post-title {
  display: flex;
  flex-direction: row;
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */


  width: 100%;
  /* padding: 20px; */
  /* margin-bottom: 20px; */
  gap: 10px;
}

.post-meta {
  width: 100%;

  display: flex;
  /* margin-left: auto; */
  flex-direction: row;

  justify-content: center;
  align-items: center; /* 교차 축 정렬 */
  align-content: center;
  gap: 10px;
}

.post-author, .comment-author {
  display: flex;
  align-items: center;
  max-width: fit-content;
  font-size: 12px;
  font-weight: 500;
  color: #777;
  gap: 10px;
}

.post-title  {
  margin-right: auto;
  font-size: 20px;
  /* font-size: 1.8rem; */
  color: #333;
  margin-bottom: 10px;
}

/* .post-header, .post-meta {
  font-size: 0.9rem;
  color: #777;
  display: flex;
  gap: 15px;
} */

.profile-img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 8px;
}

.author-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ddd;
}

/* 게시글/댓글 작성 시간 */
.post-date, .comment-date {
  max-width: fit-content;
  font-size: 12px;
  font-weight: 300;
  line-height: 18.2px;
  margin-right: 15px;
}

.post-buttons, .comment-buttons{
  display: flex;
  margin-left: auto;
  gap: 10px;
}

/* 게시글/댓글 수정 삭제 버튼 */
.edit-post-button, .delete-post-button, .edit-comment-button, .delete-comment-button {
  padding: 3px 12px;
  font-size: 15px;
  font-weight: 400;
  border: 1px solid #ACA0EB;
  border-radius: 0.5em;
  background-color: transparent;
}

/* 게시글 */
.post-text .img-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 200px;
  background-color: #ddd;
  gap: 20px;
  /* margin-bottom: 20px; */
}

.post-image {
  max-width: 100%; /* 부모 요소 너비에 맞춤 */
  max-height: 400px; /* 최대 높이 제한 */
  width: auto; /* 비율에 맞는 너비 설정 */
  height: auto; /* 비율에 맞는 높이 설정 */
  display: block; /* 블록 요소로 표시 */
  margin: 0 auto; /* 이미지를 중앙 정렬 */
  object-fit: contain; /* 이미지 비율 유지하며 영역에 맞춤 */
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 그림자 */
}

.post-text {
  width: 100%;
  text-align: left;
  font-size: 12px;
  line-height: 1.6;
  margin: 0 auto;
  padding: 10px 20px;
  box-sizing: border-box; /* 패딩 포함한 크기 계산 */
  color: #333; /* 텍스트 색상 */
  z-index: 1; /* 텍스트를 이미지 위로 배치 */
}

/* .post-content p {
  line-height: 1.6;
  font-size: 12px;
  text-align: left;
} */

.image-placeholder {
  width: 100%;
  height: 200px;
  background-color: #e0e0e0;
  margin: 20px 0;
}

/* 게시글 수치 */
.post-stats {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  gap: 10px;
}

.stat-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 16px;
  color: #333;
  background-color: #ddd;
  padding: 10px 20px;
  border-radius: 8px;
}

.stat-item span {
  font-size: 12px;
  color: #666;
}

#like-button {
  cursor: pointer;
}

#like-button.liked {
  font-weight: bold;
}

/* 댓글 */
.comment-form {
  display: flex;
  flex-direction: column;

  margin: 20px auto 20px; 
  background-color: white;
  width: 500px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12);
}

.comment-form textarea {
  width: 100%;
  height: 100px;
  padding: 16px;
  border: transparent;
  resize: none;
  margin-bottom: 12px;
  color: #000000;
  font-weight: 400;
  box-sizing: border-box;
}

.comment-button {
  display: block;
  margin: 10px 10px 10px auto;

  width: 20%;
  padding: 10px;
  background-color: #ACA0EB;
  color: #fff;
  border: none;
  border-radius: 4px;

  /* margin: 10px; */
  /* padding: 8px 24px; */
  border-radius: 16px;
  /* position: absolute; */
  right: 0;
  bottom: 3px;
}

.comment-buttons {
  display: flex;
  flex-direction: row; /* row일 경우 주 축이 바뀔 수 있음 */
  justify-content: flex-end; /* 주 축 정렬 */
  align-items: center; /* 교차 축 정렬 */
}

.comment-list {
  display: flex;
  flex-direction: column;

  width: 500px;
  padding: 10px;
  gap: 10px;
}

.comment {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  padding: 10px;
  border-top: 1px solid #eee;
}

.comment-header {
  display: flex;
  width: 100%;

  align-items: center;

  font-size: 12px;
  color: #888;
}

.comment-text {
  display: flex;
  padding-left: 45px;

  font-size: 12px;
  line-height: 1.6;
  text-align: left;
  /* flex-direction: column; */
  /* margin-right: auto; */
}

.comment-item {
  padding: 16px;
  border-bottom: 1px solid #eee;
  width: 620px;
  margin: 0 auto;
}

/* 댓글 수정 버튼 */
/* .comment-edit-button {
  border: 1px solid #ACA0EB;
  border-radius: 10px;
  background-color: #FFFFFF;
} */

/* 댓글 삭제 버튼 */
/* .comment-delete-button {
  border: 1px solid #ACA0EB;
  border-radius: 10px;
  background-color: #FFFFFF;
  margin-right: 25px;
} */

hr {
  display: block; /* 기본적으로 block-level 요소 */
  width: 500px; /* 화면 너비에 맞춤 */
  height: 1px; /* 선의 높이 설정 */
  border: none; /* 기본 border 제거 */
  background-color: #ddd; /* 선 색상 */
}

